<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<BODY bgcolor="#4682b4">
<CENTER>
    <br>
    <br>
    <br>
            <br></br>
    <font color="#00008b">Owner of this server: {{ owner  }} <br></font>
    <font size="7" color="#ffd700" face="serif">Saman page</font>
    <font color="black"><h2>Server hostname: {{ ansible_hostname }}</h2></font>
    <font color="black"><h2>Server OS family: {{ ansible_os_family }}</h2></font>
    <font color="black"><h2>IP address is: {{ ansible_default_ipv4.address }}</h2></font>
    <font color="gold"><H1>Ansible</H1></font>
</CENTER>
</BODY>
</html>

